{% extends 'layout.twig' %}

{% block body %}
<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
<h1> produits </h1>



<form method="post" action="http://www.localhost:3000/produits/">
<label for="label"> label </label> <input type="text" name="label"/>
<label for="desc"> Description </label> <input type="text"  name="desc"/>
<label for="stock"> stock </label> <input type="radio" name="stock" value="true" />
<label for="stock"> NOstock </label> <input type="radio" name="stock" value="false" />
<button type="submit">valider</button>
</form>


<table border="1">
<tr>
<td>label</td>
<td>desc</td>
<td>stock</td>
<td>delete</td>
</tr>
{% for produit in produits %}
<tr>
<td>{{produit.label}}</td>
<td>{{produit.desc}}</td>
<td> {% if produit.stock == true %} available {% else %} out of stock {% endif %}</td>
<td> <button onclick="sendNotification()"><a href="http://localhost:3000/produits/deleteProduit/{{produit._id}}">Supprimer</a></button></td>
</tr>
{% endfor %}
</table>


    <script>
       function sendNotification(){
        var socket = io('http://localhost:3000');
        var notification = "produit deleted successfully";
        socket.emit('delete', notification);
        console.log("test je ss la ")
    }
       
    </script>

    {% endblock %}
